# Trackio local Docker environment

APP_PORT=8081
SPRING_PROFILES_ACTIVE=docker

POSTGRES_HOST_PORT=5432
POSTGRES_DB=trackio
POSTGRES_USER=trackio
POSTGRES_PASSWORD=trackio

SPRING_DATASOURCE_URL=jdbc:postgresql://taskmanager-postgres:5432/trackio
SPRING_DATASOURCE_USERNAME=trackio
SPRING_DATASOURCE_PASSWORD=trackio
